/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
/* defined variables */
:root {
    /* Colors */
    --Green-200: hsl(148, 38%, 91%);
    --Green-600: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 54%);
    --White: hsl(0, 0%, 100%);
    --Grey-500: hsl(186, 15%, 59%);
    --Grey-900: hsl(187, 24%, 22%);
    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* default display: desktop version */
body {
    font-family: 'Karla';
    padding-block-start: 32px;
    padding-inline: 15px;
    background-color: var(--Green-200);
}
form {
    color: var(--Grey-900);
    max-width: 46rem;
    margin-block: 96px;
    margin-inline: auto;
    background-color: var(--White);
    border-radius: 16px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 16px;
    & > :is(h1, div.form-field, button#submit-button) {
        display: grid;
        &:not(div.first-name, div.last-name) {
            grid-column: span 2;
        }
    }
    & h1 {
        font-size: 1.9375rem;
        font-weight: var(--font-weight-bold);
        margin-block-end: 4px;
    }
    & fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: none;
        gap: 16px;
        & legend {
            text-wrap: nowrap;
        }
    }
    & input:is([type='text'], [type='email']), 
    & textarea,
    & fieldset label {
        color: inherit;
        display: block;
        width: 100%;
        border: 1px solid var(--Grey-900);
        border-radius: 8px;
        height: 50px;
        padding-inline-start: 24px;
        &:hover, &:focus-visible {
            border-color: var(--Green-600);
            border-width: 2px;
            cursor: pointer;
            &:is(label) {
                background-color: var(--Green-200);
            }
        }
        &:has(input[type='radio']:checked) {
            background-color: var(--Green-200);
        }
    }
    & label:has(> input[type='radio']),
    & label:has(> input[type='checkbox']) {
        display: flex;
        align-items: center;
        &:has(> input[type='radio']){
            gap: 14px;
        }
        &:has(> input[type='checkbox']){
            gap: 18px;
        }
    }
    & input[type='radio'],
    & input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;
        display: grid;
        place-content: center;
        &[type='radio'] {
            &::before {
                content: "";
                width: 20px;
                height: 21px;
                border: 1px solid var(--Grey-500);
                border-radius: 50%;
            }
            &:checked::before {
                content: url("./assets/images/icon-radio-selected.svg");
                border: none;
            }
        }
        &[type='checkbox'] {
            &::before {
                content: "";
                width: 18px;
                height: 18px;
                border: 1px solid var(--Grey-500);
            }
            &:checked::before {
                content: url("./assets/images/icon-checkbox-check.svg");
                border: none;
            }
        }
    }
    & textarea {
        padding-block: 16px;
        height: 6.5rem;
    }
    & div.consent {
        margin-block: 16px;
    }
    & span.field-name {
        display: inline-block;
        margin-block-end: 12px;
        &.query-type {
            margin-block-end: 20px;
        }
    }
    & span[aria-label='required'] {
        margin-inline-start: 8px;
        color: var(--Green-600);
    }
    & span.error-instruction {
        display: none;
        margin-block-start: 16px;
        color: red;
    }
    & div.form-field:has(:user-invalid) {
        & :is(input[type='text'], [type='email'], textarea, fieldset label) {
            border-color: red;
            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px red;
            }
        }
        &:not(.email) span.error-instruction {
            display: inline-block;
        }
        &.email {
            &.empty {
                & span.error-instruction.empty {
                    display: inline-block;
                }
            }
            &.invalid-email {
                & span.error-instruction.invalid-email {
                    display: inline-block;
                }
            }
        }
    }
    & button#submit-button {
        height: 60px;
        place-content: center;
        border: none;
        background-color: var(--Green-600);
        color: var(--White);
        border-radius: 8px;
        font-size: 1.25rem;
        cursor: pointer;
    }
}
dialog#success-modal {
    margin-block-start: 24px;
    margin-inline: auto;
    border: none;
    border-radius: 12px;
    & div.modal-wrapper {
        padding: 24px;
        background-color: var(--Grey-900);
        color: var(--Grey-500);
        & h2 {
            margin-block-start: 2px;
            margin-block-end: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1875rem;
            color: var(--White);
            &::before {
                content: url("./assets/images/icon-success-check.svg");
            }
        }    
    }
}

/* display: mobile version */
@media (max-width: 600px) {
    form {
        margin-block-start: 0;
        grid-template-columns: 1fr;
        padding: 24px;
        & fieldset {
            grid-template-columns: 1fr;
        }
        & > :is(h1, div.form-field, button#submit-button):not(div.first-name, div.last-name) {
            grid-column: span 1;
        }
        & textarea {
            height: 15rem;
        }
    }
}