*,
*::before,
*::after {
  box-sizing: border-box;
}
#test {
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 50px solid #0f0;
  border-bottom: 40px solid #0f0;
  position: relative;
  /* overflow: hidden; */
  &::before {
    content: "";
    position: absolute;
    inset: -50px;
    background: radial-gradient(
      circle at 50% calc(50% + 5px),
      white calc((250px - 100px) / 2),
      #0002 calc((250px - 100px) / 2),
      #0002 calc((250px - 50px) / 2),
      hsl(120, 60%, 50%) calc((250px - 50px) / 2)
    );
    border-radius: 50%;
    z-index: -1;
  }
}
