/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img, picture, svg {
    display: block;
    max-width: 100%;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: inherit;
    border: none;
    cursor: pointer;
}
/* defined variables */
:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --font-weight-Alata: 400;
    --font-weight-Josefin_Sans: 300;
}

/* default display: desktop version */
body {
    font-size: 0.9375rem;
    font-family: "Alata";
    font-weight: var(--font-weight-Alata);
}
.header {
    background-image: url("./images/desktop/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-block-start: 64px;
    padding-inline: 160px;
    height: 650px;
}
.header__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header__hamburger-button {
    display: none;
}
.header__close-button {
    display: none;
}
.header__nav-list {
    display: flex;
    gap: 32px;
}
.header__nav-link {
    color: var(--White);
    position: relative;
}
.header__banner-text {
    margin-block-start: 124px;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: var(--font-weight-Josefin_Sans);
    font-size: 4.5rem;
    border: 2px solid var(--White);
    padding: 40px;
    padding-block-end: 24px;
    width: 650px;
    height: 280px;
    color: var(--White);
}
.main {
    padding: 164px;
}
.hero {
    position: relative;
}
.hero__text-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 545px;
    height: 315px;
    background-color: var(--White);
    padding-block-start: 96px;
    padding-inline-start: 96px;
}
.hero__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: var(--font-weight-Josefin_Sans);
}
.hero__description {
    margin-block-start: 32px;
    color: var(--Very-Dark-Gray);
}
.creations {
    margin-block-start: 176px;
    margin-block-end: 20px;
}
.creations__heading-wrapper {
    display: flex;
    justify-content: space-between;
}
.creations__heading {
    font-size: 3rem;
    font-family: "Josefin Sans";
    font-weight: var(--font-weight-Josefin_Sans);
    text-transform: uppercase;
}
.creations__see-all-link-top {
    display: grid;
    place-content: center;
    width: 156px;
    height: 40px;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
.creations__list {
    margin-block-start: 84px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
}
.creations__card {
    display: grid;
    align-content: end;
    position: relative;
    aspect-ratio: 256 / 450;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 50%));
}
.creations__picture {
    position: absolute;
    width: 100%;
    height: 100%;
}
.creations__card-image {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
.creations__card-title {
    margin: 40px;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    font-weight: var(--font-weight-Josefin_Sans);
    color: var(--White);
    z-index: 10;
}
.creations__see-all-link-bottom {
    display: none;
}
.footer {
    background-color: var(--Black);
    padding-block: 40px;
    padding-inline: 164px;
    display: flex;
    justify-content: space-between;
}
.footer__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.footer__website-logo {
    width: 145px;
    height: 25px;
}
.footer__nav-list {
    display: flex;
    gap: 32px;
}
.footer__nav-link {
    color: var(--White);
}
.footer__right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.footer__social-link-list {
    display: flex;
    gap: 16px;
    align-items: center;
}
.footer__copy-right {
    color: var(--Very-Dark-Gray);
}

/* hover status */
.header__nav-link,
.footer__nav-link {
    display: block;
    position: relative;
    &::after {
        position: absolute;
        left: 50%;
        bottom: -8px;
        content: "";
        width: 0;
        transform: translateX(-50%);
        border-bottom: 2px solid var(--White);    
    }
    &:hover, 
    &:focus-visible {
        transform: translateY(-2px);
        transition: transform 0.15s;
    }
    &:hover::after,
    &:focus-visible::after {
        width: 24px;
        transition: width 0.15s;
    }
}
.footer__social-link-list-item {
    position: relative;
    &::after {
        position: absolute;
        left: 50%;
        bottom: -8px;
        content: "";
        width: 0;
        transform: translateX(-50%);
        border-bottom: 2px solid var(--White);    
    }
    &:hover,
    &:focus-visible {
        transform: scale(1.2);
        transition: transform 0.15s;
    }
    &:hover::after,
    &:focus-visible::after {
        width: 90%;
        transition: width 0.15s;
    }
}
.creations__see-all-link-top:hover,
.creations__see-all-link-top:focus-visible,
.creations__see-all-link-bottom:hover,
.creations__see-all-link-bottom:focus-visible {
    background-color: var(--Black);
    color:var(--White);
    transition: 
        background-color 0.15s,
        color 0.15s;
}
.creations__card:hover,
.creations__card:focus-visible {
    & .creations__card-image {
        opacity: 30%;
        transition: opacity 0.2s;
    }
    & .creations__card-title {
        color: var(--Black);
        transition: color 0.2s;
    }
}

/* display: mobile verison */
@media (max-width: 1280px) {
    .header {
        background-image: url("./images/mobile/image-hero.jpg");
        height: 1300px;
        padding-block-start: 80px;
        padding-inline: 48px;
    }
    .header__website-logo {
        width: 290px;
        height: 48px;
    }
    .header__hamburger-icon {
        width: 48px;
    }
    .header__close-icon {
        width: 48px;
    }
    .header__banner-text {
        margin-block-start: 324px;
        width: 100%;
    }
    .main {
        padding-block: 192px;
        padding-inline: 48px;
    }
    .hero__image {
        width: 100%;
    }
    .hero__text-wrapper {
        position: relative;
        width: unset;
        height: unset;
        padding: unset;
        margin-block-start: 108px;;
    }
    .hero__title {
        text-align: center;
        font-size: 3.5rem;
    }
    .hero__description {
        text-align: center;
        font-size: 1.75rem;
        line-height: 1.8;
        padding-inline: 56px;
        margin-block-start: 40px;
    }
    .creations {
        margin-block-start: 196px;
    }
    .creations__see-all-link-top {
        display: none;
    }
    .creations__heading-wrapper {
        display: block;
    }
    .creations__heading {
        font-size: 4rem;
        text-align: center;
    }
    .creations__list {
        margin-block-start: 96px;
        grid-template-columns: unset;
        gap: 48px;
    }
    .creations__card {
        aspect-ratio: 654 / 240;
    }
    .creations__card-image {
        height: 100%;
        width: 100%;
    }
    .creations__card-title {
        margin: 40px;
        font-size: 2.75rem;
    }
    .creations__see-all-link-bottom {
        margin-block-start: 68px;
        margin-inline: auto;
        display: grid;
        place-content: center;
        width: 312px;
        height: 78px;
        border: 1px solid black;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 2rem;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        padding-inline: unset;
        padding-block: 112px;
    }
    .footer__left-block {
        gap: 68px;
        align-items: center;
    }
    .footer__website-logo {
        width: 288px;
        height: 48px;
    }
    .footer__nav-list {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
    .footer__nav-link {
        font-size: 2rem;
    }
    .footer__right-block {
        align-items: center;
        margin-block-start: 100px;
        gap: 40px;
    }
    .footer__social-link-list {
        gap: 32px;
    }
    .footer__social-link-img {
        width: 48px;
    }
    .footer__copy-right {
        font-size: 2rem;
    }
}

/* collpase top nav */
@media (max-width: 840px) {
    .header__hamburger-button {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__website-logo-and-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 64px;
    }
    .header__top-wrapper.show-side-nav {
        position: fixed;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--Black);
        padding-block-start: 80px;
        padding-inline: clamp(48px, -38px + 23vw, 156px);
        & .header__hamburger-button {
            display: none;
        }
        & .header__close-button {
            display: block;
            flex-shrink: 0;
        }
        & .header__nav {
            display: block;
            margin-block-start: 96px;
        }
        & .header__nav-list {
            flex-direction: column;
        }
        & .header__nav-link {
            text-transform: uppercase;
            font-size: 1.75rem;
            color: var(--Dark-Gray);
        }
        }
}

/* display: smaller mobile version */
@media (max-width: 700px) {
    .header {
        height: unset;
        min-height: 100svh;
    }
    .header__website-logo {
        width: 145px;
        height: 24px;
    }
    .header__hamburger-icon {
        width: 24px;
    }
    .header__close-icon {
        width: 24px;
    }
    .header__banner-text {
        font-size: 2rem;
        line-height: 1.5;
        padding: 16px;
        margin-block-start: 30svh;
        width: max(270px, 70vw);
        height: unset;
    }
    .main {
        padding-block: 32px;
        padding-inline: 16px;
    }
    .hero__text-wrapper {
        margin-block-start: 48px;
    }
    .hero__title {
        font-size: 2rem;
    }
    .hero__description {
        font-size: 1rem;
        padding-inline: 16px;
        margin-block-start: 24px;
    }
    .creations {
        margin-block-start: 48px;
    }
    .creations__heading {
        font-size: 2rem;
    }
    .creations__list {
        margin-block-start: 32px;
        grid-template-columns: minmax(0, 1fr);
        gap: 16px;
    }
    .creations__card-title {
        font-size: 1.5rem;
        margin: 24px;
        text-shadow: black 0px 0px 4px;
        font-weight: 400;
    }
    .creations__see-all-link-bottom {
        margin-block-start: 36px;
        width: fit-content;
        height: unset;
        padding-inline: 32px;
        padding-block: 8px;
        font-size: 1.25rem;
    }
    .footer {
        padding-block: 48px;
    }
    .footer__left-block {
        gap: 32px;
    }
    .footer__website-logo {
        width: 50vw;
        height: auto;
    }
    .footer__nav-list {
        gap: 16px;
    }
    .footer__nav-link {
        font-size: 1rem;
    }
    .footer__right-block {
        margin-block-start: 32px;
        gap: 32px;
    }
    .footer__social-link-img {
        width: 24px;
    }
    .footer__copy-right {
        font-size: 0.75rem;
    }
}